
@{
    ViewBag.Title = "CustomerPaymentAges";
}
<script src="~/Scripts/Custom/CustomerPaymentAges.js"></script>
<h2>Edades de cartera por cliente</h2>

<div class="row">
    <div class="form-group">        
        <div class="col-md-2">
            <a href="javascript:void(0)" id="customerCode" data-toggle="modal" data-target="#customerModal">@Html.Label("Cliente", new { @class = "control-label" })</a>
            <input type="text" class="form-control" id="cardCode" style="max-width:100%" disabled />
        </div>
        <div class="col-md-5">
            <label class="control-label">Nombre</label>
            <input type="text" class="form-control" value="@ViewBag.cardName" id="cardName" style="max-width:100%" disabled />
        </div>
        <div class="col-md-1">
            <label class="control-label" style="color:white">.</label>
            <input type="button" value="Buscar" id="btnSearch" class="btn btn-info" />
        </div>
    </div>
</div>
<br />
<div class="row paymentAgesTable">

</div>

<div class="modal fade" id="customerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Clientes</h4>
            </div>
            <div class="modal-body" style="overflow-y:scroll; max-height:500px;">
                <table id="customers" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>*@
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->