
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Custom/CustomerIndex.js"></script>
<h2>Registro de clientes SAP</h2>
<p>
    <a href="@Url.Action("create")" class="btn btn-primary">Crear Cliente</a>
</p>
<table id="customers" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre Socio de negocio</th>
            <th></th>
        </tr>
    </thead>
</table>
