
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre Socio de negocio</th>
        </tr>
    </thead>    
</table>
<script>
    $(document).ready(function () {



        $('#example').DataTable({            
            "ajax": "@Url.Action("AsyncCustomersList")",
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por pagina",
                "zeroRecords": "Ningun resultado encontrado",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Sin registros",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }            
        });
    });
</script>