
@{
    ViewBag.Title = "searchLastPrices";
    Layout = null;
}

<table id="orders" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>Item</th>
            <th>Nombre </th>
            <th>Precio</th>            
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {        
        var itemsTable = $('#orders').DataTable({
            //processing: true,
            "ajax": '@Url.Action("AsyncListPricesList", new { id = ViewBag.data })',
            "columnDefs": [{
                //"targets": -1,
                "data": null,                
            }],
            "language": {
                //"processing": "Hang on. Waiting for response...",
                "lengthMenu": "Mostrar _MENU_ registros por pagina",
                //"zeroRecords": "Ningun resultado encontrado",
                "sLoadingRecords": "Obteniendo los precios, espere un momento...",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Sin registros",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });
    });
</script>

