@model Orkidea.Bretano.WebMiddle.FrontEnd.Entities.ORDR
@{
    ViewBag.Title = "ViewOrder";
    Layout = null;
}
<div class="container-fluid" style="margin-left: 25px;">
    @using (Html.BeginForm("Approve", "SalesOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.authComments, "Comentarios de la autorización", new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.authComments, new { @class = "form-control", title = "id del contacto", rows = 7 })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type='submit' id='upload-files' value=' Terminar ' class="btn btn-info" />
                </div>
            </div>
        </div>
    }
</div>

