
@{
    ViewBag.Title = "ItemStock";
}

<script src="~/Scripts/Custom/ItemStock.js"></script>

<h2>Inventario por artículo</h2>

<div class="row">
    <div class="form-group">
        <div class="col-md-2">
            <a href="javascript:void(0)" id="itemCodeLink" data-toggle="modal" data-target="#itemModal">@Html.Label("Código", new { @class = "control-label" })</a>
            <input type="text" class="form-control" id="itemCode" style="max-width:100%" disabled />
        </div>
        <div class="col-md-5">
            <label class="control-label">Nombre</label>
            <input type="text" class="form-control" value="" id="itemName" style="max-width:100%" disabled />
        </div>
        <div class="col-md-1">
            <label class="control-label" style="color:white">.</label>
            <input type="button" value="Buscar" id="btnSearch" class="btn btn-info" />
        </div>
    </div>
</div>
<br />
<div class="row stockBody">

</div>

<div class="modal fade" id="itemModal">
    <div class="modal-dialog modal-lg" style=" width:auto;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Artículos</h4>
            </div>
            <div class="modal-body">
                <table id="itemsTable" class="display" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->