@{
    Layout = null;
}

<table id="resume" class="display" cellspacing="0">
    <thead>
        <tr>
            <th>Vendedor</th>
            <th>Pedidos</th>
            <th>Valor</th>
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function () {

        var id = '';

        $('#resume').DataTable({
            //processing: true,
            "ajax": '@Url.Action("AsyncSupervisorDashboard", new { id = ViewBag.data })',
            "language": {
                //"processing": "Hang on. Waiting for response...",
                "lengthMenu": "Mostrar _MENU_ registros por pagina",
                //"zeroRecords": "Ningun resultado encontrado",
                "sLoadingRecords": "Obteniendo los clientes, espere un momento...",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "Sin registros",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primera",
                    "last": "Ultima",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });
    });
</script>
