<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="QcaWebMiddleEntities" connectionString="metadata=res://*/WebMiddleModel.csdl|res://*/WebMiddleModel.ssdl|res://*/WebMiddleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:h0ehawyllb.database.windows.net,1433;initial catalog=QcaWebMiddle;user id=usutest@h0ehawyllb;password=Dialectoplasma4.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="QcaWebMiddleEntities" connectionString="metadata=res://*/WebMiddleModel.csdl|res://*/WebMiddleModel.ssdl|res://*/WebMiddleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QcaWebMiddle;user id=sa;password=Tecnologia.4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="RootKey" value="4700770073004B0071006D00490063007600430065006A00690068005400370054006C0054003500310067003D003D00" />
    <add key="WSAppKey" value="310051006B0036004D0047004E00580066003800340063004C00440063004600680034004D003400660077003D003D00" />
    <add key="WSSecret" value="4A006C004F004400350048004600540077004A00710062004B003800430068006B0047006B0050006E0061006F0076005A0032005A004A0037006B005A004700780056005900460049007400310052007100700030003D00" />
    <add key="SpecialUser" value="610044005A0044004B004A0047003200440032006C0077006300300044002F0065007800740075004D0077003D003D00" />
    <add key="StandarUser" value="73004F0071007300320061007100770069006B006A005900500078002F0045004200450077003900440051003D003D00" />
    <add key="ParameterTypes" value="PlainText|EncryptedText|Bit" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>