<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="QcaWebMiddleEntities" connectionString="metadata=res://*/WebMiddleModel.csdl|res://*/WebMiddleModel.ssdl|res://*/WebMiddleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:h0ehawyllb.database.windows.net,1433;initial catalog=QcaWebMiddle;user id=usutest@h0ehawyllb;password=Dialectoplasma4.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="RootKey" value="4700770073004B0071006D00490063007600430065006A00690068005400370054006C0054003500310067003D003D00" />
    <add key="WSAppKey" value="310051006B0036004D0047004E00580066003800340063004C00440063004600680034004D003400660077003D003D00" />
    <add key="WSSecret" value="4A006C004F004400350048004600540077004A00710062004B003800430068006B0047006B0050006E0061006F0076005A0032005A004A0037006B005A004700780056005900460049007400310052007100700030003D00" />
    <add key="SpecialUser" value="610044005A0044004B004A0047003200440032006C0077006300300044002F0065007800740075004D0077003D003D00"/>
    <add key="StandarUser" value="2B003500490049002F004D00430037006D004E00760054006B005700360049006300450035007700420051003D003D00"/>
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login" timeout="200"  cookieless="UseCookies" />
      <!--<forms loginUrl="~/Security/Login" timeout="2860" name=".ASPXFORMSAUTH" cookieless="UseCookies" slidingExpiration="false" />-->
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WSSAP" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://190.216.129.83:8085/wssap/WSSAP.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WSSAP"
        contract="WebMiddleBackEnd.WSSAP" name="BasicHttpBinding_WSSAP" />
    </client>
  </system.serviceModel>
</configuration>